{{- with .cxt}} {{/* Apply proper context from dict */}}


{{- $cover := (.Resources.ByType "image").GetMatch (printf "*%s*" (.Params.coverImage)) }}    
{{- $alt := (.Params.cover.alt | default .Params.cover.caption | plainify) }}
{{- if .Params.coverImage }}
<div class="post-cover-image">
        <div style='height: 10rem;background-size:cover; background-position-y:50%;background-image: url("{{ (.Params.coverImage | absURL) }}")' class="cover-bg"> 
                &nbsp;
        </div>
    <!-- {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }} -->
    </div>
    <hr class="gradient"/>
    
{{- end }}
{{- end -}}{{/* End context */ -}}
