<div class="grid lg:grid-cols-2 gap-10">
  <a href="/blog/fiery-frontier" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2024/05/nether-blog.jpeg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">1.11.0 - Fiery Frontier</h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(245, 183, 43)">Update</div>
      <div class="px-2">–</div>
      <time>May 22nd, 2024</time>
    </div>
    <div class="text-lg pr-5">
      Hey there, everyone! We're beyond excited to launch our first major
      release since the stage event: the Nether Overhaul! Until now, Origin
      Realms has been using vanilla generation ...
    </div></a
  ><a href="/blog/bloom-boom" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2024/04/Garden_Blog.jpg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">1.10.8 - Bloom Boom</h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(67, 204, 218)">Event</div>
      <div class="px-2">–</div>
      <time>Apr 19th, 2024</time>
    </div>
    <div class="text-lg pr-5">
      Spring is blooming, and your favorite bouncing bunny Hoppers is back in
      town! The Origin Realms team has been hard at work preparing for our
      biggest year of content yet, however w...
    </div></a
  ><a href="/blog/year-of-the-dragon" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2024/02/Lunar_Blog.jpg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">
      1.10.0 - Year Of The Dragon
    </h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(67, 204, 218)">Event</div>
      <div class="px-2">–</div>
      <time>Feb 11th, 2024</time>
    </div>
    <div class="text-lg pr-5">
      Happy Lunar New Year from the Origin Realms team! The time has come again
      for one of our favorite seasonal events of the year, and this one is
      jam-packed with some of the coolest t...
    </div></a
  ><a href="/blog/3rd-anniversary" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2024/01/Anniversary_Blog.jpg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">
      Three Years With Origin Realms
    </h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(245, 183, 43)">Update</div>
      <div class="px-2">–</div>
      <time>Jan 5th, 2024</time>
    </div>
    <div class="text-lg pr-5">
      It's hard to believe, but we've just completed our third year at Origin
      Realms! This journey, filled with many challenges and wins, has been
      incredible thanks to our amazing commun...
    </div></a
  ><a href="/blog/merry-mysteries" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2023/12/23Christmas_Blog.jpg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">
      1.9.4 - Merry Mysteries Update
    </h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(67, 204, 218)">Event</div>
      <div class="px-2">–</div>
      <time>Dec 21st, 2023</time>
    </div>
    <div class="text-lg pr-5">
      Happy holidays from the Origin Realms team! We hope everyone is gearing up
      to have a happy and safe holiday, and to kick things off with a festive
      bang, we're excited to share our ...
    </div></a
  ><a href="/blog/fossils-and-findings" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2023/12/Stonehenge_Blog.jpg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">
      1.9.0 - Fossils &amp; Findings Update
    </h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(245, 183, 43)">Update</div>
      <div class="px-2">–</div>
      <time>Dec 20th, 2023</time>
    </div>
    <div class="text-lg pr-5">
      Big news, Origin Realms is ending the year with a bang! Today, we're
      kicking off the Fossils &amp; Findings Update, our eagerly awaited
      archeology release. Over December, you can expec...
    </div></a
  ><a href="/blog/autumn-gathering" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2023/11/Thanksgiving_Blog.jpg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">1.8.6 - Autumn Gathering</h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(67, 204, 218)">Event</div>
      <div class="px-2">–</div>
      <time>Nov 23rd, 2023</time>
    </div>
    <div class="text-lg pr-5">
      Happy Thanksgiving, adventurers! Leaves are starting to fall at Origin
      Realms, and Thanksgiving has arrived! We're feeling thankful this year for
      having such an amazing community,...
    </div></a
  ><a href="/blog/fearful-festival" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2023/10/DotD_Blog--1-.jpg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">
      1.8.0 - Fearful Festival Update
    </h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(67, 204, 218)">Event</div>
      <div class="px-2">–</div>
      <time>Oct 16th, 2023</time>
    </div>
    <div class="text-lg pr-5">
      The 2023 Minecraft Mob Vote has officially concluded, and the Armadillo
      wins! For the third year in a row, we're incredibly excited to announce
      that all 3 mob vote options are live...
    </div></a
  ><a href="/blog/2023-mob-vote" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2023/10/Mob_Vote_Blog.jpg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">
      1.7.5 - 2023 Mob Vote Event
    </h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(67, 204, 218)">Event</div>
      <div class="px-2">–</div>
      <time>Oct 8th, 2023</time>
    </div>
    <div class="text-lg pr-5">
      Hey there, everyone! It's that time of year again when the Mob Vote brings
      all the hype out of the Minecraft community. We're always excited to be a
      part of this awesome event, an...
    </div></a
  ><a href="/blog/blight-and-fight" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2023/08/Arena_Blog.jpg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">
      1.7.0 - Blight &amp; Fight Update
    </h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(245, 183, 43)">Update</div>
      <div class="px-2">–</div>
      <time>Aug 31st, 2023</time>
    </div>
    <div class="text-lg pr-5">
      What a time to be alive! The long-awaited Blight &amp; Fight update will
      soon arrive, with an official release time set in stone. We are beyond
      excited to share an early look at the up...
    </div></a
  ><a href="/blog/summer-splashdown" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2023/07/Icecream_Blog.jpg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">1.6.0 - Summer Splashdown</h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(67, 204, 218)">Event</div>
      <div class="px-2">–</div>
      <time>Jul 29th, 2023</time>
    </div>
    <div class="text-lg pr-5">
      Hey everyone, welcome back to another blog! It has been some time since
      our last major update, but there's so much cool stuff to share - let's
      dive in! Blighted Badlands Public T...
    </div></a
  ><a href="/blog/parties-and-petals" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2023/04/Party_Blog.jpeg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">
      1.5.0 - Parties &amp; Petals Update
    </h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(245, 183, 43)">Update</div>
      <div class="px-2">–</div>
      <time>Apr 11th, 2023</time>
    </div>
    <div class="text-lg pr-5">
      Welcome adventurer! It's time to party up as we enable the latest social
      feature on Origin Realms. As we continue developing more important systems
      in the background such as the bl...
    </div></a
  ><a href="/blog/odds-and-ends" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2023/03/Tool_Skin_Blog.jpeg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">
      1.4.0 - The Odds and Ends Update
    </h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(245, 183, 43)">Update</div>
      <div class="px-2">–</div>
      <time>Mar 9th, 2023</time>
    </div>
    <div class="text-lg pr-5">
      Badges Reimagined As discussed in our community stage event in January, we
      have been eager to make some changes to how badges and levels work on
      Origin Realms. We have become incr...
    </div></a
  ><a href="/blog/pink-and-pretty" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2023/02/Park_Blog.jpeg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">
      1.3.0 - Pink &amp; Pretty Update
    </h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(67, 204, 218)">Event</div>
      <div class="px-2">–</div>
      <time>Feb 13th, 2023</time>
    </div>
    <div class="text-lg pr-5">
      Happy Valentine's Day, adventurers! Love is in the air at Origin Isles,
      with one of our most beautiful seasonal events yet! Valentine's is
      typically only a minor seasonal event, a...
    </div></a
  ><a href="/blog/year-of-the-rabbit" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2023/01/Lunar2023_Blog.jpeg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">
      1.2.0 - Year Of The Rabbit
    </h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(67, 204, 218)">Event</div>
      <div class="px-2">–</div>
      <time>Feb 1th, 2023</time>
    </div>
    <div class="text-lg pr-5">
      A year has gone by since our last Lunar seasonal event, and the time flew
      by! We hope you all have been enjoying our recent 1.19 update, and while
      the Lunar New year officially sta...
    </div></a
  ><a href="/blog/echoes-of-darkness" class="block group"
    ><div
      class="bg-cover bg-gray-900 relative bg-center rounded-md pb-[56%] mb-5 overflow-hidden transition-transform group-hover:scale-[97.5%]"
      style='
        background-image: url("https://assets.originrealms.com/cdn-cgi/image/format=webp,quality=90,fit=scale-down,width=1920/2023/01/Deep_Dark_Blog.jpeg");
      '
    ></div>
    <h3 class="text-xl font-bold text-white mb-2">
      1.1.0 - Echoes of Darkness Update
    </h3>
    <div class="meta flex items-center text-gray-600 font-bold mb-2">
      <div style="color: rgb(245, 183, 43)">Update</div>
      <div class="px-2">–</div>
      <time>Jan 24th, 2023</time>
    </div>
    <div class="text-lg pr-5">
      Greetings adventurers! At last, 1.19 has arrived at our door and we're
      excited for you to check it out! As with any update, we couldn't quite
      help but give it the special Origin R...
    </div></a
  >
</div>
