<style>
.logo>a, header.entry-header>h1 {
    color: #fff;
    font-weight: 100;
    font-size: 2.5rem;
    font-family: caveat, cursive;
}
.logo>a {
    margin-top: .25rem !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    padding: .2rem 1rem !important;
}

.logo>a>mark {
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
    animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: none;
    color: #d2691e;
    background: linear-gradient(90deg, #000 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    padding: 4px;
    font-weight: 100;
    font-size: 2.5rem;
    font-family: caveat, cursive;
}

</style>

<div class="logo">
    <a href="https://blog.shaishav.kr" accesskey="h" title="<mark>@wiresurfer</mark> | Shaishav Kumar (Alt + H)">
        <mark>@wiresurfer</mark> | Shaishav Kumar
    </a>
</div>

