<style>
    @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>

<script type="text/javascript" src="../node_modules/tw-elements/dist/js/tw-elements.umd.min.js"></script>
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">


<style>
    /* https://github.com/lonekorean/gist-syntax-themes */
    @import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/idle-fingers.css');

    body .gist .gist-file {
        border-color: #555 #555 #444
    }

    body .gist .gist-data {
        border-color: #555
    }

    body .gist .gist-meta {
        color: #ffffff;
        background: #373737;
    }

    body .gist .gist-meta a {
        color: #ffffff
    }

    body .gist .gist-data .pl-s .pl-s1 {
        color: #a5c261
    }
</style>