article.md-content__inner.md-typeset {
  flex-grow: 1;
}

article.md-content__inner.md-typeset {
  max-width: 70% !important;
  margin: 0 auto !important;
}

article.md-content__inner.md-typeset {
  flex-grow: 1;
}

article.md-content__inner.md-typeset {
  max-width: 70% !important;
  margin: 0 auto !important;
}

article.md-content p {
  margin-bottom: 0.8rem;
  text-wrap: pretty;
  overflow-wrap: break-word;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: 100;
}

article.md-content blockquote > p {
  font-size: 14px !important;
  font-family: monospace;
  font-weight: 100;
}
article.md-content blockquote {
  font-size: 14px;
  font-weight: 100;
  text-wrap: pretty;
  overflow-wrap: break-word;
  border-left-color: var(--md-typeset-a-color);
}

.md-tag {
  color: #ff9800;
}
.md-content blockquote > a {
  font-weight: 300;
}

article > p > img[src*=".svg"] {
  padding: 2rem;
  margin: 1rem 0;
  background-color: white;
}
