
    nav.md-tabs {
        background: #292929;
        display: flex!important;
    }

    ul.md-tabs__list {
        justify-content: center;
    }
    .md-content.md-content--post {
    max-width: 100%;
    margin: 0;
    flex-grow: 1;
}

article.md-content__inner.md-typeset {
    flex-grow: 1;
}

article.md-content__inner.md-typeset {
    max-width: 70%!important;
    margin: 0 auto!important;
}

@media screen and (max-width:1080px) {
article.md-content__inner.md-typeset {
    max-width: 100%!important;
    margin: 0 auto!important;
}
    
}

@media screen and (min-width:1080px) and (max-width: 1440px) {
article.md-content__inner.md-typeset {
    max-width: 98%!important;
    margin: 0 auto!important;
}
}

@media screen and (min-width:1440px) {
article.md-content__inner.md-typeset {
    max-width: 1400px!important;
    margin: 0 auto!important;
}
}

    .bg-cover {
        min-height: 240px;
    }

