body {
    background-color: hsl(0deg 0% 5.1%);
}
header.md-header {
  background-color: #111419;
  padding: 16px 4rem;
}

.md-content .entry-content {
    -webkit-line-clamp: unset
}

.md-content,.post-content,.theme-dark {
    --background-primary: #101010;
    --background-primary-alt: #0d0b12;
    --background-secondary: #1e1e1e;
    --background-secondary-alt: #1e6e1e;
    --text-normal: #bebebe;
    --text-accent: #A6D0DD;
    --text-sub-accent: #f4569d;
    --text-dim: #45aaff;
    --text-faint: #62504e;
    --text-title-h1: var(--text-accent);
    --text-title-h2: #C0AEE4;
    --text-title-h3: #F8F988;
    --text-title-h4: #FFCAC8;
    --text-title-h5: #FF9E9E;
    --text-link: #b4b4b4;
    --text-a: #6bcafb;
    --text-a-hover: #6bcafb;
    --text-mark: #263d92;
    --code-background: var(--background-secondary);
    --interactive-accent: rgba(14, 210, 247, 0.5);
    --interactive-accent-hover: rgba(14, 210, 247, 0.8);
    --interactive-before: #5e6565;
    --blockquote-border: #4aa8fb;
    --tag-background: rgba(14, 210, 247, 0.15);
    --interactive-accent-rgb: #3dd7fb;
    --bg-sub-accent-55: rgba(244, 86, 157, 0.55);
    --bg-accent-55: rgba(14, 210, 247, 0.55);
    --bg-accent-25: rgba(14, 210, 247, 0.25);
    --text-highlight-bg: rgba(244, 86, 157, 0.25);
    --background-modifier-border: rgba(14, 210, 247, 0.05);
    --test-color: rgb(122, 162, 247);
    --editor-border-color: #101014
}

.md-content h1,.md-content h2,.md-content h3,.md-content h4,.md-content h5,.md-content h6 {
    font-family: var(--default-font);
    font-weight: 600
}

.md-content h1,.post-content h1,.markdown-preview-section h1,.cm-header-1 {
    font-size: 34px;
    color: var(--text-title-h1)
}

.md-content h2,.post-content h2,.markdown-preview-section h2,.cm-header-2 {
    font-size: 26px;
    color: var(--text-title-h2)
}

.md-content h3,.post-content h3,.markdown-preview-section h3,.cm-header-3 {
    font-size: 22px;
    color: var(--text-title-h3)
}

.md-content h4,.post-content h4,.markdown-preview-section h4,.cm-header-4 {
    font-size: 18px;
    color: var(--text-title-h4)
}

.md-content h5,.post-content h5,.markdown-preview-section h5,.cm-header-5 {
    font-size: 18px;
    color: var(--text-title-h5)
}

.md-content h6,.post-content h6,.markdown-preview-section h6,.cm-header-6 {
    font-size: 18px;
    color: var(--text-title-h5)!important
}

.post-content .highlight {
    border-left: 10px solid #067a6a;
    font-size: 1.25rem
}








nav.md-header__inner > a > img {
    height: 1.75rem!important;
    margin: 0;
    padding: 0;
}

a.md-header__button.md-logo {
    margin-bottom: 0;
    padding-bottom: 0;
}


article.md-typeset > p > img {
    margin: 12px auto;
    border: 3px solid #202020;
    border-radius: 6px;
    box-shadow: 3px 4px 14px #2a2a2a;
    max-width: 50% !important;
}

label.md-nav__title {
    /* background: none!important; */
    border: none;
    box-shadow: none!important;
    padding: 6px 14px;
    background-color: #2c2c2c !important;
    border-radius: 6px;
    font-weight: 400;
    font-size: small;
}


.md-footer-copyright {
    margin: 16px 8px;
    color: var(--secondary);
    text-transform: lowercase;
    font-weight: 400;
    font-size: medium;
}

.md-social {
    margin: 12px 16px;
}

@media screen and (max-width: 480px) {
  body {
    background-color: red;
  }
}


@media screen and (min-width: 480px) and (max-width: 768px) {
  header.md-header {
    background-color: #111419;
    padding: 8px 0.5rem;
  }
    article.md-typeset > p > img {
     margin: 8px auto;
     max-width: 90%!important;
     width: 90%;
    }
}


@media screen and (min-width: 768px) and (max-width: 1220px) {
  
    header.md-header {
        background-color: #111419;
        padding: 8px 0.5rem;
    }
    article.md-typeset > p > img {
         margin: 8px auto;
         max-width: 60%!important;
         width: unset;
    }
    
}


@media screen and (min-width: 1220px) and (max-width: 1440px)  {
    nav.md-nav.md-nav--primary {
        display: none;
    }
  /* large */
    article.md-typeset > p > img {
         margin: 8px auto;
         max-width: 90%!important;
         width: 75%;
    }
}



@media screen and (min-width: 1440px)  {
  /* xl-large */
}
